<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HOME", root_path, class: "logo" %>
      <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Index", root_path %></li>
            <li><%= link_to "New",   new_thing_path %></li>
          </ul>
      </nav>
  </div>
</header>
